<section class="container">

  <header class="header">
    <h1 class="col-sm-12">Products
      <button class="btn btn-default" (click)="load()" type="submit">load</button>
    </h1>

  </header>

  <section class="col-sm-12">
    <table class="table table-hover table-striped">
      <tr>
        <th>Status</th>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let product of products">
        <td><input type="checkbox" ng-model="record.include"></td>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td><button class="btn btn-default" ng-click="Delete($index)">Delete</button></td>
      </tr>
      <tr>
        <td colspan="5">Total {{products.length}} Products</td>
      </tr>
    </table>
  </section>
</section>